@charset 'utf-8';
/* CSS Document */
@font-face{
	font-family: 'klavika_regularregular';
	src: url('../fonts/klavikaregular-tf-webfont.eot');
	src: url('../fonts/klavikaregular-tf-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/klavikaregular-tf-webfont.woff2') format('woff2'), url('../fonts/klavikaregular-tf-webfont.woff') format('woff'), url('../fonts/klavikaregular-tf-webfont.ttf') format('truetype'), url('../fonts/klavikaregular-tf-webfont.svg#klavika_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Klavika Light';
	src: url('../fonts/ufonts.com_klavika-light-opentype-webfont.eot');
	src: url('../fonts/ufonts.com_klavika-light-opentype-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ufonts.com_klavika-light-opentype-webfont.woff2') format('woff2'), url('../fonts/ufonts.com_klavika-light-opentype-webfont.woff') format('woff'), url('../fonts/ufonts.com_klavika-light-opentype-webfont.ttf') format('truetype'), url('../fonts/ufonts.com_klavika-light-opentype-webfont.svg#klavikalight') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* new */
a:focus,
a:hover{
	text-decoration: none;
	outline: none;
}
textarea:focus, input:focus{
	outline: none;
	-moz-outline: none;
	-moz-appearance: none;
}
h1{
	color:#CCC;
	font-size:36px;
	line-height:40px;
	margin:0; 
	font-family: 'Klavika Regular';
}
h3{
	color: #01a99e;
	font-size:25px;
	line-height:26px;
	font-weight:normal;
	margin:14px 0;
	font-family: 'Klavika Regular';
}
h5{
  color: #3a6d8c;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin: 0 0 8px 0;
  font-family: 'Klavika Regular';
}
h2{
  color: #000;
  font-size: 24px;
  line-height: 20px;
  font-weight: normal;
  margin: 0 0 8px 0;
}
img{
  border: 0;
}
ul, ol{
		list-style-position: inside;
}
p{
	margin: 10px 0;
}
.teamMember img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  width: auto;
  max-width: 100%;
}
.teamMember img:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
.logo{
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}
.logo img{
	width: 100%;
}
#container{
  margin: 0 auto;
  padding-top: 20px;
  width: 800px;
}
#content{
  border-bottom: 1px dotted #999;
  border-top: 1px dotted #999;
  padding: 20px 0;
}
#footer{
  clear: left;
  color: #888;
  margin: 20px 0;
}
#footer a:link,
#footer a:visited{
  color: #888;
  text-decoration: none;
}
#footer a:hover{
  color: #333;
  text-decoration: underline;
}
/* IOS POPUP */
#basic-modal-content{
  display: none;
}
#basic-modal-content a:hover #ios{
  background-color: #efefef;
}
#basic-modal-content a:hover #android{
  background-color: #efefef;
}
/* WEB POPUP */
#web-modal-content{
  display: none;
}
#web-modal-content a:hover #ios{
  background-color: #efefef;
}
#web-modal-content a:hover #android{
  background-color: #efefef;
}
/* SEO POPUP */
#seo-modal-content{
  display: none;
}
/* Overlay */
#simplemodal-overlay{
  background-color: #000;
}
/* Container */
#simplemodal-container{
  height: 480px;
  width: 700px;
  color: #bbb;
  padding: 12px;
  text-align: center;
}
#simplemodal-container
.simplemodal-data{
  padding: 0;
}
#simplemodal-container code{
  background: #141414;
  border-left: 3px solid #65B43D;
  color: #bbb;
  display: block;
  font-size: 12px;
  margin-bottom: 12px;
  padding: 4px 6px 6px;
}
#simplemodal-container a{
  color: #ddd;
}
#simplemodal-container h3{
  color: #84b8d9;
}
#simplemodal-container h1{
  color: #000;
}
.basic{
  text-decoration: none;
}
.popup-one{
	height:auto !important;
}
/* Header */
.headerWrapper{
	height: auto;
	width: 100%;
	position:fixed;
	z-index: 10;
	box-shadow: 5px 0 13px rgba(0,0,0,0.33);
}
#start_popup img{
	width: 600px;
	height: auto;
}
.awardContainer{
	width: 100%;
	height: auto;
	margin: 0 auto;
	border-bottom: solid 2px #CCCCCC;
	background-color: #00A99D;
	transition: all 0.5s ease;
}
.award{
	padding: 10px 0;
	font-family: 'Klavika Light';
}
.award a{
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}
.award a:hover{
	text-decoration: underline;
}
.sticky{
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  transition: all 1s ease-in-out;
}
.sticky
.awardContainer{
	display: none;
	transition: all 1s ease-in-out;
}
.myNav
.navbar-nav{
	float: right;
}
.myNav ul{
	position: inherit;
	top: 22%;
}
.text-cntr{
	text-align: center;
}
.testimonialsWrapp{
	text-align: center;
	width: 100%;
	margin: 86px 0 40px;
}
.testimonialsWrapp h2{
  font-family: 'Klavika Light';
  font-size: 30px;
}
.ourTeamWrapp{
	background-color: #282828;
	width: 100%;
	padding: 110px 0 0;
	font-family: 'Klavika Light';
	color: #fff;
	text-align: center;
	/*display: inline-block;
	float: left;*/
}
.ourTeamWrapp h2{
	color: #fff;
}
.teamMembersWrapp{
	width: 100%;
	float: left;
	margin-top: 45px;
}
.teamMember{
	margin-bottom: 20px;
	cursor: pointer;
}
.teamMember img{
	margin: 0 auto;
}
.ourTeamText{
	font-family: 'Klavika Light';
	font-size: 22px;
	line-height: 32px;
	color: #FFF;
	margin-top: 50px;
	margin-bottom: 50px;
}
#our_team{
	font-family: 'Klavika Light';
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.testimonialsBox{
	/*float: left;*/
	margin: 0 auto;
	height: auto;
	width: 90%;
}
.testimonialsContent{
	background-color: #00a99d;
	height: 265px;
	width: 100%;
	font-family: 'Arial';
	font-size: 16px;
	font-weight: 90;
	color: #FFF;
	text-align: center;
	padding: 20px 15px 0 15px;
	line-height: 23px;
}
.testimonialsBoxArrow{
	background-image: url(../images/testimonials_bg_btm.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	height: 46px;
	width: 100%;
}
.testimonialsImg img{
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 3%;
}
.testimonialsName{
	font-family: 'Klavika Light';
	font-size: 16px;
	color: #000;
	text-align: left;
	margin-top: 20px;
}
.headerContainer{
	background-color: #FFF;
	width: 100%;
	font-family: 'Klavika Light';
	font-size: 18px;
	color: #000;
	z-index: 10;
	border-radius: none;
}
.header{
	margin-right: auto;
	margin-left: auto;
}
.navBar{
	margin-top: 28px;
}
.navbar-nav>ul{
	float: left;
	list-style: none;
}
.navbar-default
.navbar-nav > li > a{
	color: #000;
	text-decoration: none;
}
.navbar-default
.navbar-nav > li > a:focus,
.navbar-default
.navbar-nav > li > a:hover{
	color: #3CBBB3;
	transition: color 0.2s ease;
}
.navbar-toggle{
	margin-top: 32px;
}
.navbar-default
.navbar-toggle{
	background-color:#3CBBB3;
	border-color: #369d96;
}
.navbar-default
.navbar-toggle:focus,
.navbar-default
.navbar-toggle:hover{
	background-color:#329e97;
}
.navbar-default
.navbar-toggle
.icon-bar{
	 background-color: #ffffff;
}
.welcomeTextWrapp{
	width: 553px;
	margin: 0 auto;
}
.welcomeText{
	margin: 0 auto;
	background-image: url(../images/welcome_text_bottom.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	font-family: 'Klavika Light';
	color: #00a99d;
	font-size: 48px;
	padding: 0 0 164px 0;
	float: left;
	width: 100%;
	line-height: 50px;
	background-size: 100%;
}
.welcomeTextInner{
	background-color: #FFF;
	float: left;
	width: 100%;
	padding: 30px 50px;
}
.welcomeContainer{
	background-color: #00a99d;
	width: 100%;
	padding: 230px 0 104px;
}
/*a:hover li{
	color: #00a99d;
}*/
.welcomeInputField{
	width: 215px;
	height: 50px;
	background-color: #fff;
	border: thin #fff solid;
	background-image: url(../images/welcome_inputfield.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 10px;
	font-family: 'Klavika Light';
	font-size: 42px;
	color: #00A99D;
	vertical-align: middle;
}
@keyframes blink{
	0%{
		color: #fff;
	}
	50%{
		color: #CCC;
	}
	100%{
		color: #fff;
	}
}
@-webkit-keyframes blink{
	0%{
		color: #fff;
	}
	50%{
		color: #CCC;
	}
	100%{
		color: #fff;
	}
}
.welcomeInputField::-webkit-input-placeholder{
	padding-top: 10px;
	font-style: italic;
	font-size: 30px;
	-webkit-animation: blink 4s linear infinite;
	-moz-animation: blink 4s linear infinite;
	animation: blink 4s linear infinite;
}
.welcomeInputField::-moz-placeholder{
	padding-top: 10px;
	font-style: italic;
	font-size: 30px;
	-webkit-animation: blink 4s linear infinite;
	-moz-animation: blink 4s linear infinite;
	animation: blink 4s linear infinite;
}
.welcomeContainerSecond{
	background-color: #282828;
	width: 100%;
	padding-top: 38px;
	font-family: 'Klavika Light';
	font-size: 24px;
	line-height: 34px;
	color: #FFF;
}
.welcomeTextSecond{
	margin: 0 auto;
	font-family: 'Klavika Light';
	padding: 50px 0;
	text-align: center;
}
.welcomeTextSecondHeader{
	font-size: 34px;
	margin-bottom: 40px;
}
.workContainer{
	font-family: 'Klavika Light';
	font-size: 30px;
	color: #000;
	text-align: center;
	width: 100%;
	padding-top: 110px;
	background-color: #FFF;
	display: inline-block;
}
.work{
	text-align: center;
	background-color: #FFF;
	margin: 0 auto;
}
.workBox{
	margin: 15px 0;
	float: left;
}
.workBox img{
	width: 100%;
}
.enoughTextWrapp{
	background-color: #00a99d;
	width: 100%;
	font-family: 'Klavika Light';
	font-size: 38px;
	line-height: 46px;
	color: #FFF;
	float: left;
	padding: 50px 0;
}
.welcomeTextThrird{
	font-family: 'Klavika Light';
	text-align: center;
	color: #FFF;
}
.servicesWrapp{
	background-color: #FFF;
	width: 100%;
	padding-top: 158px;
	display: inline-block;
	padding-bottom: 50px;
}
.servicesWrapp
.basic{
	width: 100%;
	float: left;
	text-align: center;
	cursor: pointer;
}
.modal-body
.serviceIcon{
	cursor: pointer;
}
.servicesIphone, .servicesBorder{
	border-right: 1px solid #000;
}
.services{
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
}
.servicesHeader{
	font-family: 'Klavika Light';
	font-size: 30px;
	color: #000;
	text-align: center;
	padding: 15px 0;
	line-height: 32px;
	text-decoration: none;
}
.servicesIcon{
	padding: 10px 0 50px;
}
.servicesIcon img{
	margin: 0 auto;
}
.serviceDesc{
	font-family: 'Klavika Light';
	font-size: 19px;
	color: #000;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}
.ios_services_box{
	border-right: 1px solid #000;
}
.web_services_box{
	border-right: 0 solid #000;
}
.seo_services_box{
	float: left;
	height: 480px;
	width: 338px;
	text-decoration: none;
}
.a:-webkit-any-link{
 text-decoration: none;
}
.whatWeThinkMsgWrapp{
	background-color: #282828;
	height: auto;
	width: 100%;
	padding-top: 50px;
	font-family: 'Klavika Light';
	font-size: 22px;
	line-height: 30px;
	color: #FFF;
}
.whatWeThinkMsg{
	margin: 0 auto;
	font-family: 'Klavika Light';
	text-align: justify;
	padding: 0 0 30px 0;
}
.whatWeThinkMsgBottom{
	background-color: #00a99d;
	background-image: url(../images/welcome_text4_bottom.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 268px;
}
.contactFormWrapp{
	background-color: #00aa9d;
	width: 100%;
	float: left;
	padding: 60px 0;
}
#contact_form{
	height: 600px;
	width: 720px;
	margin: 0 auto;
	background-image: url(../images/contact_form_bottom_bg.jpg);
	background-repeat: no-repeat;
	background-position: 100px bottom;
	font-family: 'Klavika Light';
	font-size: 24px;
	color: #FFF;
}
.contactFormTextarea{
	background-color: #00aa9d;
	background-image: url(../images/contact_msg_inputfield.jpg);
	background-repeat: repeat-y;
	background-position: center -2px;
	height: 250px;
	width: 100%;
	margin: 8px 0 2px;
	border: 1px solid #00aa9d;
	font-family: 'Klavika Light';
	font-size: 30px;
	color: #d0fbfa;
	line-height: 60px;
	resize:none;
}
.contactNameTextfield{
	background-color: #00aa9d;
	background-image: url(../images/contact_msg_inputfield.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	height: 62px;
	width: 100%;
	margin: 2px 0 22px;
	border: 1px solid #00aa9d;
	font-family: 'Klavika Light';
	font-size: 30px;
	color: #d0fbfa;
	line-height: 60px;
}
.contactEmailTextfield{
	background-color: #00aa9d;
	background-image: url(../images/contact_msg_inputfield.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	height: 62px;
	width: 100%;
	margin: 2px 0 12px;
	border: 1px solid #00aa9d;
	font-family: 'Klavika Light';
	font-size: 30px;
	color: #d0fbfa;
	line-height: 60px;
}
.contactPhoneTextfield{
	background-color: #00aa9d;
	background-image: url(../images/contact_msg_inputfield.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	height: 62px;
	width: 100%;
	margin: 2px 0 22px;
	border: 1px solid #00aa9d;
	font-family: 'Klavika Light';
	font-size: 30px;
	color: #d0fbfa;
	line-height: 60px;
}
.submit_button{
	background-image: url(../images/post_message_btn.jpg);
	background-repeat: no-repeat;
	float: right;
	height: 55px;
	width: 246px;
	margin-top: 25px;
	border: 1px solid #00aa9d;
	cursor: pointer;
	cursor: hand;
}
#welcome_text5_container{
	background-color: #282828;
	height: auto;
	width: 100%;
	padding-top: 80px;
	font-family: 'Klavika Light';
	font-size: 44px;
	line-height: 50px;
	color: #FFF;
}
.footerWrapp{
	background-color: #282828;
	float: left;
	width: 100%;
	padding-top: 80px;
	font-family: 'Klavika Light';
	font-size: 44px;
	line-height: 50px;
	color: #FFF;
}
.welcomeTextFifth{
	height: 180px;
	width: 860px;
	margin: 0 auto;
	font-family: 'Klavika Light';
	padding: 0;
	text-align: center;
}
.footerMsg{
	font-family: 'Klavika Light';
	padding: 0 0 30px 0;
	text-align: center;
}
a #contact{
	margin-bottom: 50px;
}
.workHeaderContainer{
	background-color: #00a99d;
	width: 100%;
	font-family: 'Klavika Light';
	font-size: 58px;
	color: #FFF;
	padding-top: 170px;
}
.aboutWorkBox{
	margin: 0 auto;
	padding-top: 30px;
	background-color: #FFF;
}
.projectThumbnail{
	float: left;
	margin: 0 0 30px 0;
}
.projectThumbnail img{
	width: auto;
	width: 100%;
}
.workDescription{
	font-family: 'Klavika Light';
	font-size: 16px;
	color: #000;
	float: right;
	height: auto;
	text-align: justify;
}
.workDescription a{
	text-decoration: none;
}
.workDescription
.projectUrl{
	color:#00aa9d;
	text-decoration:none;
	font-size:24px;
	margin-top:10px;
}
.workDiscriptionTitle{
	font-family: 'Klavika Light';
	font-size: 30px;
	color: #000;
	width: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	line-height: 35px;
}
.workHeader{
	background-color: #00a99d;
	width: 100%;
	font-family: 'Klavika Light';
	font-size: 60px;
	color: #FFF;
	margin: 0 0 35px 0;
	line-height: 60px;
}
.weHaveList li{
	margin-bottom:8px;
}
.aboutServiceBox{
	height: auto;
	width: 100%;
	margin: 0 auto 50px;
	padding-top: 30px;
	background-color: #FFF;
	color: #000;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}
.serviceBox{
	float: left;
	height: auto;
	padding-bottom:50px;
}
.serviceImg{}
.serviceImg img{
	width: auto;
	max-width: 100%;
}
#textTwo{
	display: none;
	background: none;
	border: hidden;
	font-size: 36px;
	color: #fff;
	margin-left: 7px;
	margin-right: -20px;
	font-family: 'Klavika Light';
}
#textThree{
	display: none;
	background: none;
	border: hidden;
	font-size: 36px;
	color: #fff;
	margin-left: 7px;
	margin-right: -20px;
	font-family: 'Klavika Light';
}
#textFour{
	display: none;
	background: none;
	border: hidden;
	font-size: 46px;
	color: #fff;
	margin-left: 7px;
	margin-right: -20px;
	font-family: 'Klavika Light';
}
.workContainer a
.workBox:hover{
	opacity: 0.6;
}
.bottomFooter{
	width: 100%;
	float: left;
	padding: 25px;
	color: #fff;
	font-size: 19px;
	line-height: 26px;
	background-image: url(../images/seperator.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	margin: 0 auto;
	text-align: left;
}
.contactDetails{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.contactHeading{
	margin: 15px 0 25px 0;
	font-size: 36px;
	color: #FFF;
}
.contactIndiaTitle{
	background-image: url(../images/india_flag.png);
	background-repeat: no-repeat;
	background-position: left center;
	margin: 5px 0;
	font-size: 30px;
	color: #FFF;
	padding-left: 40px;
}
.contactUkTitle{
	background-image: url(../images/uk_flag.png);
	background-repeat: no-repeat;
	background-position: left center;
	margin: 5px 0;
	font-size: 30px;
	color: #FFF;
	padding-left: 40px;
}
.address{
	height: auto;
	background-image: url(../images/address_icon.png);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding: 5px 0 0 40px;
}
.phoneNumber{
	height: 35px;
	background-image: url(../images/phone_icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 5px 0 0 40px;
}
.emailId{
	height: 35px;
	background-image: url(../images/mail_icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 5px 0 0 40px;
}
.fbLink{
	height: 35px;
	background-image: url(../images/fb_icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 5px 0 0 40px;
	color: #FFF;
	text-decoration: none;
}
.skypeLink{
	height: 35px;
	background-image: url(../images/skype_icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 5px 0 0 40px;
}
.lnLink{
	height: 35px;
	background-image: url(../images/ln_icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 5px 0 0 40px;
}
.socialIcons a{
	text-decoration: none;
	color: #FFF;
}
/*Testimonials Slider Style*/
.bx-wrapper
.testimonials-thumbnail{
	margin: 0 0 15px;
}
.bx-wrapper
.testimonials-title{
	text-align: center;
	margin: 25px 15px 3px;
	font-size: 24px;
	line-height: 1;
}
.bx-wrapper
.testimonials-carousel-thumbnail{
	max-width: 35%;
	float: left;
	margin-right: 20px;
}
.bx-wrapper
.testimonials-carousel-thumbnail img{
	display: block;
	margin-right: 20px;
	width: 100px;
}
.bx-wrapper
.testimonials-carousel-context{
	overflow: hidden;
}
.bx-wrapper
.testimonials-name{
	font-size: 18px;
	margin-bottom: 15px;
	color: #000000;
	font-weight: 400;
}
.bx-wrapper span{
	font-size: 11px;
	margin-left: 10px;
	color: #aaa;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-style: italic;
}
.bx-wrapper{
	position: relative;
	margin: 30px auto;
	padding: 0;
	width: 100%;
 *zoom: 1;
}
.bx-wrapper
.slide{
	padding: 0;
	margin: 0;
	display: block;
}
.bx-wrapper
.bx-viewport{
	padding: 10px;
	margin-left: 0;
	z-index: 0;
	width: 100%;
}
.bx-wrapper
.bx-pager,
.bx-wrapper
.bx-controls-auto{
	position: absolute;
	display: none;
	bottom: -30px;
	width: 100%;
}
.bx-wrapper
.bx-loading{
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
.bx-wrapper
.bx-pager{
	text-align: center;
	font-size: 0.85em;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}
.bx-wrapper
.bx-pager
.bx-pager-item,
.bx-wrapper
.bx-controls-auto
.bx-controls-auto-item{
	display: inline-block;
 *zoom: 1;
 *display: inline;
}
.bx-wrapper
.bx-pager.bx-default-pager a{
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.bx-wrapper
.bx-pager.bx-default-pager a:hover,
.bx-wrapper
.bx-pager.bx-default-pager a.active{
	background: #000;
}
.bx-wrapper
.bx-next{
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	border-left: 1px solid #ddd;
	height: 30px;
	cursor: pointer;
	background: #ED3131 url(images/caousel-next.png) no-repeat 0 0;
	display: none;
}
.bx-wrapper
.bx-prev{
	position: absolute;
	top: 0;
	right: 30px;
	border-right: 1px solid #ddd;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: #ED3131 url(images/caousel-prev.png) no-repeat 0 0;
	display: none;
}
.bx-wrapper
.bx-controls-direction a{
	position: absolute;
	top: 0;
	margin-top: 0;
	margin-right: 0;
	outline: 0;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	z-index: 9999;
}
/*media css*/
.media{
	padding-top: 132px;
	font-family: 'Klavika Light';
	margin: 0 auto;
}
.media
.title{
	width: 100%;
	background-color: #00A99D;
	padding: 20px 0;
}
.media
.title p{
	margin: 0 auto;
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
}
.awardList{
	height: auto;
	float: left;
	border-right: dotted 1px #d1cece;
	padding: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.mediaContainer{
	height: auto;
	margin: 30px 0;
}
.awardList:nth-child(even){
	margin-right: 0;
	border-right: none !important;
}
.awardTitle{
	font-size: 20px;
	color: #00A99D;
	text-align: center;
	margin-bottom: 20px;
}
.pic{
	width: 330px;
	height: 250px;
	border: solid 5px #e9e9e9;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
}
.pic img{
	width: 100%;
	height: 100%;
}
.awardDetails{
}
.awardDetails p{
	padding: 20px;
	font-size: 16px;
	text-align: justify;
	color: #333333;
}
.awardDetails a{
	color: #00A99D;
	text-decoration: none;
}
.awardDetails a:hover{
	text-decoration: underline;
}
/* Award list */
.careerContainer{
	margin: 30px auto 0;
}
.careerList{
	height: auto;
	float: left;
	border-right: dotted 1px #d1cece;
	padding: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.careerList img{
	width: 100%;
	max-width: 300px;
}
.careerListContent{
	padding: 20px;
	font-size: 22px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.nimage{
	border: solid 5px #e9e9e9;
	height: 350px;
	width: 350px;
}
.careerForm{
	width: 100%;
	background-color: #00a99d;
	margin-top: 30px;
}
.careerTextfield{
	background-color: #00aa9d;
	background-image: url(../images/contact_msg_inputfield.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	height: 62px;
	width: 100%;
	margin: 0 0 12px 0;
	border: 1px solid #00aa9d;
	font-family: 'Klavika Light';
	font-size: 30px;
	color: #d0fbfa;
	line-height: 60px;
}
.careerButton{
	background-image: url('../images/submitbutton.png');
	background-repeat: no-repeat;
	cursor: pointer;
	height: 45px;
	width: 150px;
	border: 1px solid #00aa9d;
	background-position: 0 0;
	margin: 20px 0 0 0;
}
.uploadcv{
	margin-top: 20px;
}
.epw{
	width: 730px;
}
.careerOportunity{
	margin: 0 auto;
	padding: 30px 15px;
}
.careerOpt{
	padding: 20px;
}
.webDesign{
	color: #fff;
}
.careerOpt h5{
	font-size: 25px;
	color: #d0fbfa;
	font-family: 'Klavika Light';
	margin-bottom: 20px;
	background: #01988D;
	padding: 20px;
}
.careerOpt a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	float: right;
}
.careerOpt
.title{
	font-size: 33px;
	font-family: 'Klavika Light';
	margin-bottom: 38px;
	color: #fff;
}
.careerOpt label{
	font-size: 15px;
	color: #fff;
}
.careerOpt hr{
	border: 1px solid #33AEA7;
	margin: 20px 0;
}
.formCareer{
	border-left: dotted 1px #d1cece;
}
/*css for testimonial carousel*/
.workHeader h1{
	margin-top: 5px;
	font-family: 'Klavika Light';
}
.proContainer{
	float: left;
	width: 100%;
	position: relative;
}
.proNav{
	width: 50px;
	height: 50px;
	position: fixed;
	top: 80%;
	margin-top: -25px;
	transition: all 0.5s ease;
}
.proNavAct{
	top: 50%;
}
.proPrev{
	background: url(../images/proPrev.png) no-repeat;
	background-size: 100%;
	left: 30px;
}
.proNext{
	background: url(../images/proNext.png) no-repeat;
	background-size: 100%;
	right: 30px;
}
/*Bootstrap Modal*/
.modal-dialog{
	margin-top: 80px;
	background: #fff;
}
.modal-content{
	border: none;
	border-radius: 0;
}
.modal-header{
	float: left;
	width: 100%;
	border: none;
}
.modal-footer{
	float: left;
	width: 100%;
	border: none;
}
.modal-body{
	float: left;
	width: 100%;
}
.modal-title{
	font-size: 25px;
	color: #00a99d;
	font-family: 'Klavika Light';
}
#androidIos .modal-body,
#webDesignDev .modal-body{
	background-color: #ffffff;
}
.androidIosWrapp img{
	width: 100%;
}
.androidIosWrapp
.iosLink{
	margin: 0 auto;
	width: 80%;
	text-align:center;
	padding:30px 0;
	text-decoration:none;
}
.androidIosWrapp
.androidLink{
	margin: 0 auto;
	width: 80%;
	text-align:center;
	padding:30px 0;
	text-decoration:none;
}
.memberPic{
	width: 100%;
	float: left;
}
.memberPic img{
	width: 100%;
}
.teamMemberPop
.modal-dialog{
	background: none;
	width: 700px;
}
.teamMemberPop
.modal-header{
	border: none;
}
.teamMemberPop
.modal-content{
	background-image: url('../images/laptop.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  box-shadow: none;
  height: 480px;
}
.teamMemberPop
.modal-body{
	padding: 0 68px;
}
.memberDesc{
	height: 290px;
	overflow: auto;
}
.ThankyouMsgWrapp{
	width: 100%;
	float: left;
	margin: 158px 0 0;
	font-family: 'Klavika Light';
}
.ThankyouMsgWrapp h1{
	color: #00A99D;
	font-family: 'Klavika Light';
}
.errorWrap{
	font-family: 'Klavika Light', serif;
	font-size: 50px;
	text-align: center;
	background-color: #00a99d;
	color: #fff;
	position:fixed;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.errorMessage{
  display: inline-block;
  vertical-align: middle;
  float: none;
  position: relative;
  top: 50%;
	transform: translateY(-50%);
 }
.errorWrap h1, .errorWrap h3{
	color: #fff;
}
.h4Text{
	font-size: 16px;
	margin: 5px auto 0;
}
.back{
	font-size: 60px;
}
.back a{
	color: #fff;
	display: inline-block;
	text-align: center;
	padding: 5px;
}
.back a:hover{
	padding: 5px;
	display: inline-block;
}
.back span{
	display: inline-block;
	vertical-align: center;
	width: 100%;
	height:100;
}
#start_popup{
	text-align: center;
  margin-top: 15%;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
 }
/* ==========================================================================
   Viewport Compatiblity
   ========================================================================== */
/*@media (max-width:1199px)*/
@media (max-width:1199px){
.testimonialsContent{
	height: 290px;
}
.media{
	padding-top: 119px;
}
}
/*@media (max-width:992px)*/
@media (max-width:992px){
.navbar-default
.navbar-nav > li > a{
	font-size: 15px;
  padding: 8px 6px;
}
}
/*@media (max-width:991px)*/
@media (max-width:991px){
.testimonialsContent{
	height: 350px;
}
}
/*@media (max-width:767px)*/
@media (max-width:767px){
.logo{
	width: 300px;
}
.navbar-toggle{
    margin-top: 21px;
}
.award a{
	font-size: 15px;
}
.slick-next,.slick-prev{
	display: none !important;
}
.myNav
.navbar-nav{
  float: left;
}
.testimonialsContent{
	height: 240px;
  padding: 10px 15px;
}
.welcomeInputField{
	margin-bottom: 10px;
}
.servicesWrapp{
	padding-top: 75px;
}
.servicesIphone{
	border:none;
}
.servicesIphone .basic{
	border-bottom: 1px solid #000;
	margin: 0 0 15px;
  padding: 0 0 15px;
}
.servicesBorder{
	border-right: 0;
	border-bottom: 1px solid #000;
}
#androidIos .modal-body{
	float: none;
	width: 80%;
	margin: 0 auto;
}
.teamMemberPop
.modal-content{
	background-image: none;
  box-shadow: none;
  height: auto;
  margin: 0 auto;
}
.teamMemberPop
.modal-dialog{
margin: 0;
width: 100%;
}
.teamMemberPop
.modal-body{
	padding: 0;
}
.teamMemberPop
.modal-backdrop{
	background-color: #fff;
}
.teamMemberPop
.close{
	opacity: 1;
}
.memberPic{
	width: 40%;
	float:none;
	margin: 0 auto;
}
.memberDesc{
	height: auto;
	padding: 20px;
	background-color: #ffffff;
	width: 100%;
	margin-top: 10px;
}
.contactFormWrapp{
	padding: 30px 0;
}
.formCareer,
.awardList{
	border: 0;
}
.careerList{
	float: none;
	text-align: center;
	border: 0;
}
.media{
  padding-top: 117px;
}
}
/*@media (max-width:678px)*/
@media (max-width:678px){
.testimonialsContent{
	height: 270px;
}
}
/*@media (max-width:642px)*/
@media (max-width:642px){
.testimonialsContent{
	height: 320px;
}
}
/*@media (max-width:560px)*/
@media (max-width:560px){
.testimonialsContent{
	height: 350px;
}
}
/*@media (max-width:530px)*/
@media (max-width:530px){
.welcomeTextWrapp{
  width: 290px;
}
.welcomeText{
	padding: 0 0 95px 0;
	font-size: 27px;
	line-height: 37px;
}
.welcomeTextInner{
	padding: 20px 25px;
}
}
/*@media (max-width:500px)*/
@media (max-width:500px){
.testimonialsContent{
	height: 200px;
}
}
/*@media (max-width:480px)*/
@media (max-width:480px){
.logo{
	width: 68%;
}
.welcomeContainer{
	padding-top: 162px;
}

.welcomeTextSecondHeader{
	font-size: 27px;
}
.navbar-toggle{
	margin-top: 3%;
	margin-right: 0;
}
.welcomeInputField{
	font-size: 27px;
	margin-bottom: 20px;
}
.welcomeInputField::-webkit-input-placeholder{
	padding-top: 0;
  font-size: 27px;
}
.welcomeInputField::-moz-placeholder{
	padding-top: 0;
	font-size: 27px;
}
.memberPic{
	width: 60%;
	float:none;
	margin: 0 auto;

}
.testimonialsBox{
	width: 100%;
}
.workHeader{
	font-size: 45px;
}
.workHeader h1{
	font-size: 30px;
}
.media .title p{
	font-size: 34px;
}
.careerList,
.formCareer{
	border: none;
}
.footerMsg{
	font-size: 38px;
}
}
/*@media (max-width:450px)*/
@media (max-width:450px){
.welcomeInputField{
	margin-bottom: 10px;
}
.pic{
	width: 240px;
	border: 0;
	background-color: #000;
	padding: 0 5px;
}
.pic video{
	width: 100%;
}
}
/*@media (max-width:390px)*/
@media (max-width:390px){
.testimonialsContent{
	height: 270px;
}
}
