@charset "utf-8";
/* CSS Document */

*{
  margin: 0;
  padding: 0;
}
.team-member{
  background-image: url('../images/ipad.png');
  background-repeat: no-repeat;
  width: 700px;
  height: 480px;
  margin: 0 auto;
  padding: 88px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Klavika Regular;
}
.member-pic{
  width: 175px;
  height: 320px;
  text-align: center;
  float: left;
}
.member-pic img{
  margin-bottom: 5px;
  width: 100%;
}
.member-pic p{
  font-weight: bold;
  font-size: 24px;
  color: #00a99d;
  font-family: klavika Regular;
}
.about{
  width: 325px;
  height: 320px;
  background-color: #f8f8f8;
  float: right;
  padding: 18px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.about p{
  font-size: 16px;
  line-height: 21px;
  text-align: justify;
  font-family: klavika Regular;
  color: #333;
}
.android{
  background-image: url('../images/tab.png') !important;
  background-repeat: no-repeat;
  padding: 70px 85px 88px;
  width: 700px;
  height: 483px;
  font-family: Klavika Regular;
}
.android .member-pic{
  width: 177px;
}
.android .about{
  height: 288px;
  width: 321px;
  background-color: #f8f8f8;
  float: left;
  padding: 22px;
  margin-left: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
}
.mackbook{
  background-image: url('../images/macbook.png') !important;
  background-repeat: no-repeat;
  width: 850px;
  height: 439px;
  padding: 62px 164px 88px 170px;
}
.mackbook .about{
  background-color: #f8f8f8;
  box-sizing: border-box;
  float: left;
  font-family: klavika Regular;
  height: 303px;
  margin-left: 16px;
  overflow-y: auto;
  padding: 16px;
  width: 350px;
}
.mackbook .member-pic{
  width: 155px;
}
.laptop{
  background-image: url('../images/laptop.png') !important;
  background-repeat: no-repeat;
  width: 800px;
  height: 546px;
  padding: 61px 115px 0 100px;
}
.laptop .about{
  background-color: #f8f8f8;
  box-sizing: border-box;
  float: left;
  margin-left: 20px;
  overflow-y: auto;
  padding: 9px 18px 21px 18px;
  width: 405px;
}
.laptop .member-pic{
  width: 163px;
}
